h1{
    font-size: 40px;
    position: relative;
    background-color: coral;
}
ul {
    display: block;
    float: left;
    height: 80px;
    padding-left: 10px;
    list-style: none;
}
p{
    background-color: #262626;
    height: 34px;

}
a{
    float: left;
    width: 157px; 
    background: #262626; 
    height: 34px; 
    line-height: 34px; 
    color: #a8a8a8; 
    padding-left:18px;
    text-decoration: none;
}