h1{
    font-size: 40px;
    position: relative;
    background-color: coral;
}
ul {
    display: block;
    float: left;
    height: 80px;
    padding-left: 10px;
    list-style: none;
}
li {
    float: left;
    height: 80px;
    padding: 15px;
    font-size: 25px;
}